{
	"env": {
		"development" : {
			"compact": false
		}
	},
	"presets": [
		[
			"@nuxt/babel-preset-app",
			{
				"corejs": { "version": 3 }
			}
		]
	],
	"plugins": [
		"@babel/plugin-proposal-object-rest-spread"
	]}
