$color-gray: #D6DFE8;
$color-red: #FF5656;
$body-color: #263238;
$base-color: $body-color;
$primary: #2691F4;
$secondary: #C9DEFF;
$color-green: #81CB27;

$container-max-widths: (
	md: 690px + $grid-gutter-width,
	lg: 930px + $grid-gutter-width,
	xl: 1108px + $grid-gutter-width,
);

$grid-breakpoints: (
	xs: 0,
	xs2: 414px,
	sm: 660px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	w1440: 1440px,
	w1920: 1920px,
);

$carousels-card-shadow-offset: 35px;
$carousels-card-side-offset: -10px;
$g-carousels-desktop-min-width: 215px;

$carousels-card-width: (
	xs: (274px),
	xs2: (274px),
	sm: (350px),
	md: (230px),
	lg: (298px),
	xl: (368px),
	w1440: (368px),
	w1920: (368px),
);

$carousels-card-width-center: (
	md: (250px),
	lg: (352px),
	xl: (390px),
);

$header-height: 60px;

$transition: all .25s ease-in-out;
$transition-rotate: transform .25s ease-in-out;

$nav-item-hover-opacity: .8;
