@import "~assets/styles/landing3/_variables.scss";
@import "~assets/styles/landing3/_functions.scss";
@import "~assets/styles/landing3/_mixins.scss";

$primary: #2691F4;
$secondary: #1673FF;

.youtube-page {
	--color-primary: #{$primary};
	--color-secondary: #{$secondary};
	--color-secondary-text: #{$white};
	--color-features-seo-bg: #7EB2FF;
	--bg-image-banner: url("data:image/svg+xml,%3Csvg width='375' height='688' viewBox='0 0 375 688' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs/%3E%3Cpath fill='url(%23paint0_linear)' d='M-23 0h421v688H-23z'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='-121' y1='575.963' x2='473' y2='186.728' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2306F'/%3E%3Cstop offset='1' stop-color='%2389A3FF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
	--bg-image-carousels: url('~assets/svg/landing3/youtube/carousels-bg-xs.svg');
	--bg-features: url('~assets/svg/landing3/youtube/features-bg-xs.svg') center top / cover no-repeat;
	@include media-breakpoint-up(md) {
		--bg-image-banner: url("data:image/svg+xml,%3Csvg width='768' height='755' viewBox='0 0 768 755' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs/%3E%3Cpath d='M1234.68-224.632l34.36 890.645c-202.87-57.202-398.031-107.165-519.384-124.532-346.292-50.273-684.28 151.431-1110.642 89.734-290.767-42.089-548.88-200.98-683.204-297.666-8.79-181.907-17.58-364.092-26.37-545.998 768.525-4.252 1536.708-8.21 2305.24-12.183z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M2424.3-164h-4096.1c0 254.1-.1 508.2-.2 762.3 170.3-79.5 317.8-115.9 420-134 123.1-21.8 212.3-22.9 234.7-23 48-.2 149.1-.3 274.6 28.4 205.9 47.1 283.9 134.7 611.9 120.1 447.3-19.9 502-93.7 772.5-69 9 .8 40.7 4.2 79.5 11.2 128.3 23 326.2 84.8 378.9 100 51.3 14.7 214.3 56.8 397 33.3 202.5-26 254.2-110.2 522-161.1 160.6-30.5 288.6-21.1 405.2 2.3V-164z' fill='url(%23paint1_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='1174.32' y1='-38.359' x2='-842.525' y2='-607.623' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fff'/%3E%3Cstop offset='1' stop-color='%23A2C3FF'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='-707' y1='222' x2='921.5' y2='213.001' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2306F'/%3E%3Cstop offset='1' stop-color='%2389A3FF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
		--bg-image-carousels: url('~assets/svg/landing3/youtube/carousels-bg-md.svg');
		--bg-features: url('~assets/svg/landing3/youtube/features-bg-md.svg') center top / cover no-repeat;
	}
	@include media-breakpoint-up(lg) {
		--bg-image-banner: url("data:image/svg+xml,%3Csvg width='4095' height='923' viewBox='0 0 4095 923' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs/%3E%3Cpath d='M2896.68-56.918l34.36 890.645c-202.87-57.202-398.03-107.165-519.38-124.532-346.3-50.273-684.28 151.431-1110.65 89.734-290.76-42.089-548.876-200.98-683.198-297.666L591.44-44.735c768.53-4.252 1536.71-8.21 2305.24-12.183z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M4094.3 0H-1.799c0 254.1-.1 508.2-.2 762.3 170.3-79.5 317.8-115.9 420-134 123.1-21.8 212.3-22.9 234.7-23 48-.2 149.1-.3 274.6 28.4C1133.2 680.8 1211.2 768.4 1539.2 753.8c447.3-19.9 502-93.7 772.5-69 9 .8 40.7 4.2 79.5 11.2 128.3 23 326.2 84.8 378.9 100 51.3 14.7 214.3 56.8 397 33.3 202.5-26 254.2-110.2 522-161.1 160.6-30.5 288.6-21.1 405.2 2.3V0z' fill='url(%23paint1_linear)'/%3E%3Cpath opacity='.1' d='M1713.1-563.249c-81.05-53.633-167.05-91.518-263.22-95.608-35.97-1.478-72.03-1.129-108.03 4.41C1339.97-638.805 1033.02-407.623 1031-392c-16.49 129.628 43.28 116.409 26.5 246 0 351.5 140.66 570.194 143.78 574.109 30.38 39.047 64.46 73.054 102.91 101.275 36.35 26.609 75.15 46.514 118.24 55.771 23.45 5.042 47.16 4.766 70.97 3.668 54.93-2.587 107.88-15.632 158.59-42.844 38.86-20.887 75.08-47.133 109.95-75.392 41.55-33.75 85.94-59.272 135.43-70.256 38.26-8.424 76.99-15.951 115.72-20.134 84.37-8.978 165.28-33.952 243.08-74.045 72.65-37.414 135.5-89.976 182.96-164.93 39.26-62.137 65.88-129.757 70.71-206.382 4.38-70.833-12.58-133.893-47.68-190.272-30.43-48.752-71.5-83.665-116.16-113.357-46.79-31.138-96.7-50.475-152.5-50.174-35.75.222-71.68-.416-107.27-2.515-51.76-2.855-103.24-9.016-153.62-22.56-38.59-10.347-76.37-23.598-110.82-45.781-36.58-23.63-72.31-49.325-108.69-73.43z' fill='%23fff'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='2836.32' y1='129.355' x2='819.475' y2='-439.909' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fff'/%3E%3Cstop offset='1' stop-color='%23A1C3FF'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='1211.5' y1='440.501' x2='2841' y2='472.001' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%233461FF'/%3E%3Cstop offset='1' stop-color='%2389A3FF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
	}

	// breakpoint-name: (css-property, value ...);
	$banner-style: (
		xs: (height, 688px, padding-top, 115px),
		md: (height, 755px, padding-top, 159px),
		lg: (height, 929px, padding-top, 235px),
		xl: (height, 923px, padding-top, 218px),
	);

	// breakpoint-name: (css-property, value ...);
	$carousels-style: (
		xs: (margin-top, 12px),
		md: (margin-top, -189px),
		lg: (margin-top, -147px),
		xl: (margin-top, -154px),
	);

	.landing3__banner {
		@include media-style($banner-style);
	}

	.landing3__carousels {
		@include media-style($carousels-style);
	}

	.landing3__banner-promo {
		height: auto;
		@include media-breakpoint-down(sm) {
			margin-top: 54px;
			width: 319px;
		}
		@include media-breakpoint-up(md) {
			position: absolute;
			left: calc(50% - 8px);
			top: 150px;
			width: 370px;
		}
		@include media-breakpoint-up(lg) {
			left: calc(50% + 15px);
			top: 195px;
			width: 457px;
		}
		@include media-breakpoint-up(xl) {
			left: calc(50% + 93px);
			top: 155px;
			width: 529px;
		}
		@include media-breakpoint-up(w1440) {
			left: calc(50% + 104px);
		}
	}

	.landing3__header {
		&:not(.is-fixed) {
			@include media-up(lg) {
				top: 50px;
			}
		}
	}
}
