.payment {
	&__wrap {
		max-width: 1280px;
		width: 100%;
		@media (max-width: 1440px) {
			max-width: 1120px;
		}
	}

	&__title {
		font-family: 'Segoe UI', sans-serif;
		font-size: 21px;
		line-height: 1.2;
		text-align: center;
		color: #19233C;
		@media (max-width: 576px) {
			font-size: 16px;
		}
	}

	&__desc {
		font-family: 'Open Sans', sans-serif;
		font-size: 12px;
		line-height: 16px;
		text-align: center;
		color: #829FBA;
		@media (max-width: 576px) {
			font-size: 14px;
		}
	}

	&__panel {
		background-color: #FFF;
		box-shadow: 0 4px 15px rgba(151, 179, 225, .25);
		border-radius: 5px;
		margin-bottom: 20px;
		position: relative;

		&:last-child {
			margin-bottom: 0;
		}
		@media (max-width: 576px) {
			border-radius: 0;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 1;
		position: relative;
	}

	&__summ {
		margin: 50px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		@media (max-width: 576px) {
			flex-direction: column;
			margin: 20px 0;
			width: 100%;
		}

		.button {
			@media (max-width: 576px) {
				width: 240px;
			}
		}
	}

	&__input {
		background-color: #F8F9FC;
		border: 1px solid #ECEEF3;
		box-sizing: border-box;
		border-radius: 4px;
		min-height: 47px;
		min-width: 200px;
		font-family: 'Segoe UI', sans-serif;
		font-size: 17px;
		line-height: 1;
		color: #19233C;
		padding: 10px 15px 10px 20px;
		@media (max-width: 576px) {
			width: 100%;
		}
	}

	&__number {
		width: 240px;
		font-family: 'Segoe UI', sans-serif;
		font-size: 17px;
		color: #333;

		&.el-input-number.is-controls-right {
			.el-input-number__decrease,
			.el-input-number__increase {
				height: 19px;
				border-color: transparent;
				background-color: transparent;
				background-position: center;
				background-repeat: no-repeat;
				background-size: 12px;

				.el-icon-arrow-down,
				.el-icon-arrow-up {
					display: none;
				}
			}

			.el-input-number__decrease {
				background-image: url("~/assets/svg/chevron-down-blue.svg");
			}

			.el-input-number__increase {
				background-image: url("~/assets/svg/chevron-up-blue.svg");
			}
		}
	}

	&__group {
		margin-right: 30px;
		@media (max-width: 576px) {
			margin: 0 0 20px;
		}
	}
}
