$primary:                #009DFF;

$white:                  #FFF;
$red:                    #FF5656;
$green:                  #B6C490;
//$green-juice:            #4caf38;
$green-juice:            #18C139;
$grey: #BBB !default;

$body-color:             #1E252B;
$black-bg:               #1F2225;
$c-footer:               #7A7D84;
$c-menu:                 #999;
$c-menu-active:          #33363A;

$c-not-active:           #829FBA;
$c-not-active-border:    #C3D8EC;

$c-disabled:             #F8F9FC;

$c-control-bg:           lighten(desaturate(adjust-hue($primary, 6), 10.81), 42.75);

$line-height-base:       1.67;
$font-family-base:       'GothamPro', helvetica, arial, sans-serif;
$font-size-base:         .9375rem;
//$link-hover-decoration:  none;

$ff-gilroy:          'Gilroy', helvetica, arial, sans-serif;
$ff-segoe:           'Segoe UI', helvetica, arial, sans-serif;

$nav-height:         62px;

$desktop-breakpoint: 1024px;

$form-group-margin-bottom:       1.25rem;
$input-focus-box-shadow:         none;
$input-disabled-bg:              $c-disabled;
$input-border-color:             $c-not-active-border;

$title-margin-bottom:            .3125rem;

$transition-fast:                 all .1s ease-in-out;
$transition-slow:                 all .4s ease-in-out;

$cp-link-hover-color:             #1F8CF0;

// App components
//

$default-avatar:                 '~assets/images/default-avatar.png';

$panel-padding-y:                 1.2rem;
$panel-padding-x:                 1.733rem;
$panel-padding-y-sm:              .825rem;
$panel-padding-y-mobile:          .6875rem;
$panel-padding-x-mobile:          1rem;

$page-holder-padding-top:         1.25rem;
// $page-holder-padding-top:         0.75rem;
$page-holder-padding-bottom:      1.25rem;
$page-holder-padding-x:           1.25rem;
// $page-holder-padding-x:           0.75rem;

$c-orders-history:                #4A99FB;


/******************* RESPONSIVE **************************/
$display_tablet: 768px;
$display_tablet-xl: 1024px;
$display_tablet-xl-1025: 1025px;
$display_desktop: 1440px;
$display_desktop-xl: 1600px;
