.filter-white {
	filter: brightness(0) invert(1);
}

.filter-primary {
	filter: invert(48%) sepia(49%) saturate(3901%) hue-rotate(178deg) brightness(100%) contrast(106%);
}

.filter-red {
	filter: invert(46%) sepia(7%) saturate(7092%) hue-rotate(317deg) brightness(104%) contrast(102%);
}

.filter-green {
	filter: invert(47%) sepia(92%) saturate(610%) hue-rotate(85deg) brightness(102%) contrast(87%);
}

.filter-grey {
	filter: invert(56%) sepia(15%) saturate(0%) hue-rotate(258deg) brightness(94%) contrast(78%);
}

.filter-base {
	filter: invert(30%) sepia(0%) saturate(1065%) hue-rotate(173deg) brightness(90%) contrast(73%);
}

.filter-blue {
	filter: invert(57%) sepia(90%) saturate(2840%) hue-rotate(192deg) brightness(101%) contrast(97%);
}

.filter-blue-cp {
	filter: invert(41%) sepia(100%) saturate(716%) hue-rotate(179deg) brightness(91%) contrast(103%);
}

$filters: (
	blue2: invert(44%) sepia(67%) saturate(990%) hue-rotate(179deg) brightness(97%) contrast(96%),
	white: invert(98%) sepia(90%) saturate(0%) hue-rotate(319deg) brightness(115%) contrast(100%),
	gray: invert(56%) sepia(15%) saturate(0%) hue-rotate(258deg) brightness(94%) contrast(78%),
	gray2: invert(87%) sepia(39%) saturate(148%) hue-rotate(182deg) brightness(96%) contrast(89%),
	red: invert(44%) sepia(80%) saturate(2307%) hue-rotate(329deg) brightness(105%) contrast(103%),
);

@mixin filter($filter) {
	filter: map-get($filters, $filter);
}
