.svg-sprite {
	$icons-size: (
		instagram: (20px, 21px),
		tiktok: (19px, 21px),
		vk: (21px, 12px),
		youtube: (22px, 15px),
		icon-cart: (15px, 12px),
		order-post-single: (16px, 16px),
		order-post-multiple: (18px, 18px),
		order-posts: (16px, 16px),
		order-instagram: (16px, 17px),
		order-vk: (16px, 16px),
		order-tiktok: (16px, 16px),
		order-youtube: (19px, 13px),
		order-likes: (16px, 13px),
		order-comments: (16px, 16px),
		order-friends: (18px, 14px),
		order-subs: (14px, 16px),
		order-views: (20px, 14px),
		order-reposts: (16px, 13px),
	);

	@each $icon, $size in $icons-size {
		&--#{$icon} {
			width: nth($size, 1);
			height: nth($size, 2);
		}
	}
}
