<section class="landing3__wrapper" :class="[ { 'landing3__wrapper--odd': landingWrapperOdd }, cssClass ]">
	<Header v-if="isReadyToShow" class="landing3__header" :scroll-top-offset="50"	/>

	<Banner :data="banner" :promo-button="promoButton" class="landing3__banner">
		<canvas id="banner" class="landing3__banner-promo"/>
	</Banner>

<!--	<Carousels v-if="isReadyToShow" id="services" :carousels="carousels" class="landing3__carousels" />-->

	<Accordion v-if="isReadyToShow" id="faq" :data="accordionData" :seo="seo" class="landing3__accordion" />

	<Features v-if="isReadyToShow" id="features" :seo="seo" :features="features" :promo-button="promoButton" />

	<Thanks v-if="isReadyToShow" />
</section>
